# Ignore version control
.git
.gitignore

# IDE / editor settings
.idea
.vscode
*.swp

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Local database
db.sqlite3

# Virtual environments
venv/
.env
*.env

# Docker / CI/CD related
Dockerfile
docker-compose.yml
buildspec.yml
appspec.yml
scripts/

# OS / temp files
*.log
*.tmp
*.bak
*.DS_Store
Thumbs.db
